/* index_banner.css */

/* --- #banner ---------------------------------------------*/
#banner {width:100%; height: 430px;background-color:#ccc; 
	overflow: hidden; position: relative;}
/* button 설정 */
.btn{width:60px; height:82px; 
	position: absolute; top:50%; margin-top:-40px; margin:0 10px;}
.btn_01{left:0;}
.btn_02{right:0;}

.btn>button{width: 100%; height: 100%; cursor:pointer;
	background-color:transparent; 
	background-repeat:no-repeat;
	background-position: center;}
.btn_01>button{
	background-image:url("../img/main/main/banner/left_btn.png");}
.btn_02>button{
	background-image:url("../img/main/main/banner/right_btn.png");}
.btn_01>button:hover{
	background-image:url("../img/main/main/banner/left_btn_on.png");}
.btn_02>button:hover{
	background-image:url("../img/main/main/banner/right_btn_on.png");}

.btn>button>span{width: 0; height: 0; display: block; 
	overflow: hidden;}


/* 광고 배너 설정 */
#banner>ul{width:300%; height: 100%; margin-left:-100%;
	background-color: #0af;}
#banner>ul>li{width:33.333333%; height:100%; float: left;
	text-align: center; line-height: 430px; font-size: 3em;}
.banner_img_01{background-color:#fac;}
.banner_img_02{background-color:#afc;}
.banner_img_03{background-color:#aaf;}