/* popup.css */
#popupBox {position: fixed; z-index: 5000; width: 100%; height: 100%;
	background-color: rgba(87, 87, 87, 0.7);}
#popupBox #popupMessage {width: 550px; height: 400px; 
	position: absolute; top:50%; margin-top: -200px; 
	left:50%; margin-left: -275px;
	background-image: url("../img/popup/pop_up.jpg"); 
	background-repeat: no-repeat; }
#popupBox button {width: 40px; height: 40px; float: right;
	background-color:transparent; cursor:pointer; margin:10px}
#popupBox span {width: 0; height: 0; display: block; overflow: hidden;}